# Sistema operacional
*.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Editor e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Django
/media/
staticfiles/

# Arquivos de log e outros temporários
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp

# Virtualenv
venv/
env/

# Docker
*.db
docker-compose.override.yml

# Arquivos de configuração local
settings_local.py
.env

# Arquivos específicos da Vercel
.vercel
